<section class="ADMIN_DASH" style=" width:100vw;height:90vh;background-color:white">
    <div class="main ">
        <div class="row container" style="width:100%">
            <div class="col-md-2 left_side" style="background-color:#7e97c6;height: 100vh;">
                <div class="logo">
                    <!-- <div class="Logo mb-5   " style="width: 11rem;height:3rem">
                        <img src="../../assets/img/Innovate.jpg" alt="Logo"
                            style="border:2px solid white;border-radius: 20rem; width: 45%;height:100%">


                    </div> -->
                    <div style="display:flex;justify-content: space-around;align-items: center;">
                        <i class="fa-solid fa-user-secret" style="color:rgb(255, 255, 255 );font-size:2.4rem;"></i>
                        <span style="font-size: 1.1rem;font-weight: 800;color:black;">
                            {{ADMIN_NAME}}
                        </span>
                    </div>


                </div>
                <div class="mt-3" style="border:5px solid white;border-radius: 10px;"></div>



                <div class="SIDEBAR">

                    <aside>

                        <div class="menus">

                            <a routerLink="/addemp" (click)="menu_display1()"><i class="fa-solid fa-person-circle-plus "
                                    style="color:#FFB100;"></i> &nbsp;&nbsp;Add Employee</a>


                            <a routerLink="/empdetails" (click)="menu_display2()"><i
                                    class="fa-sharp fa-solid fa-circle-info" style="color:#FFB100;"></i>
                                &nbsp;&nbsp;Employee Details</a>

                            <a routerLink="/leavedetails" (click)="menu_display3()"> <i
                                    class="fa-solid fa-person-walking-arrow-right" style="color:#FFB100;"></i>
                                &nbsp;&nbsp;Leave Request</a>

                            <a routerLink="/contractupdate" (click)="menu_display4()"><i
                                    class="fa-solid fa-file-contract" style="color:#FFB100;"></i>&nbsp;&nbsp;Contract
                                Update</a>
                            <a routerLink="/task" (click)="menu_display5()"><i class="fa-solid fa-list-check"
                                    style="color:#FFB100;"></i>&nbsp;&nbsp;Office Task</a>
                            <a routerLink="/attendance" (click)="menu_display7()"><i class="fa-solid fa-list-check"
                                    style="color:#FFB100;"></i>&nbsp;&nbsp;Attendance </a>
                            <a routerLink="/salarysheet" (click)="menu_display8()"><i class="fa-solid fa-list-check"
                                    style="color:#FFB100;"></i>&nbsp;&nbsp;Salary Sheet </a>
                            <a routerLink="/salaryslip" (click)="menu_display6()"><i class="fa-solid fa-list-check"
                                    style="color:#FFB100;"></i>&nbsp;&nbsp;Salary Slips </a>




                        </div>



                    </aside>

                </div>

            </div>


            <div class="col-md-10 rightBg" style="background-color: rgba(247, 246, 250, 0.925); ;">
                <div class="TOPBAR">
                    <div>
                        <span class="header" style="color:#FFB100;font-size:1.1rem;font-weight: 800;">INNOVATETEX TECH
                        </span> &nbsp; &nbsp;<span style="color:black;font-weight: 400;"><i>look for the explorer not
                                the
                                reserved one..</i></span>
                    </div>
                    <div class="logoutadmin ">
                        <button mat-raised-button class="mx-3" type="submit" color="primary" (click)="signup_admin()">
                            <i class="fa-solid fa-user-plus"
                                style="font-size: 1rem;color:rgb(255, 255, 255);cursor: pointer;font-weight: 900;"></i>
                            Sign Up</button>

                        <button mat-raised-button type="submit" color="warn" (click)="logout_admin()"><i
                                class="bi bi-box-arrow-right"
                                style="font-size: 1rem;color:rgb(255, 255, 255);cursor: pointer;font-weight: 900;"></i>
                            Sign Out</button>

                    </div>


                </div>

                <app-parties-info *ngIf="show_add_emp"></app-parties-info>
                <app-employe-details *ngIf="show_emp_details"></app-employe-details>
                <app-leave-form-page *ngIf="show_emp_leave"> </app-leave-form-page>
                <app-contract-details *ngIf="show_contract_update"></app-contract-details>
                <app-task *ngIf="show_task"></app-task>
                <!-- <app-chat-options ></app-chat-options> -->
                <app-employee-login-time *ngIf="show_attendace"></app-employee-login-time>
                <!-- <app-attendancesheet *ngIf="show_attendace"></app-attendancesheet> -->
                <app-emp-salary-sheet *ngIf="show_salary_sheet"></app-emp-salary-sheet>
                <app-salaryslip *ngIf="show_sal_slip"></app-salaryslip>
            </div>

        </div>











    </div>
</section>