<section class="USER_DASH" style=" width:100vw;height:100vh;background-color:white">
    <div class="main ">
        <div class="row">


            <div class="col-md-2 left_side" style="background-color: #7e97c6;height: 100vh;">
                <div class="logo px-3 py-3" style="display: flex;justify-content: space-between;">
                    <div class="Logo mb-5b    " style="width: 11rem;height:3rem">
                        <img src="../../assets/img/Innovate.jpg" alt="Logo"
                            style="border:2px solid white;border-radius: 20rem; width: 2rem;height:2rem;object-fit: cover;">
                        <h5 class="mt-1" style="color:white;font-weight:700;font-family:Arial, Helvetica, sans-serif">
                            INNOVATE
                            TECH</h5>

                    </div>


                </div>



                <div class="SIDEBAR">

                    <aside>

                        <div class=" emp_sidebar_menu">
                            <a routerLink="/myprofile" (click)="show_profile()">
                                <i class="bi bi-person" style="color:#FFB100;font-size:1.1rem;font-weight: 900;"></i>
                                &nbsp; My Profile</a>
                            <a routerLink="/empleavestatus" (click)="show_leave_req()"> <i class="bi bi-forward"
                                    style="color:#FFB100;font-size:1.1rem;font-weight: 900;"></i> &nbsp;Leave
                                Request</a>




                        </div>



                    </aside>
                </div>

            </div>
            <div class="col-md-9 rightBg">
                <div class="TOPBAR">
                    <div>
                        <span class="header" style="color:#FFB100;font-size:1.1rem;font-weight: 800;">INNOVATETEX TECH
                        </span> &nbsp; &nbsp;<span style="color:black;font-weight: 400;"><i>look for the explorer not
                                the
                                reserved one..</i></span>
                    </div>

                    <div class="logoutadmin">
                   
                        <button mat-raised-button type="submit" color="warn"   (click)="logout_user()"><i class="bi bi-box-arrow-right"
                            style="font-size: 1rem;color:rgb(255, 255, 255);cursor: pointer;font-weight: 900;"
                          ></i> Sign Out</button>
                        
                    </div>

                </div>

                <app-myprofile *ngIf="SHOW_PROFILE"></app-myprofile>
                <app-emp-leave-req-status *ngIf="SHOW_LEAVE_STATUS"></app-emp-leave-req-status>



            </div>



        </div>
    </div>
</section>