<div class="CV_DETAILS">
    <div class="main card"
        style="width:40vw;height:50vh;background-color:#7e97c6;border-radius:0.3rem;border: none;outline: none;padding-top:0.5rem">



        <div class="card-body">
            <form>



                <div class="form-outline form-white mb-4 login_Contain">
                    <span class="login_icon"> <i class="fa-solid fa-user"></i> </span>



                    <input type="email" matInput  placeholder="USER EMAIL" #email>


                </div>

                <div class="form-outline form-white mb-4 login_Contain">
                    <span class="login_icon"> <i class="fa-solid fa-lock"></i> </span>


                    <input matInput  type="password" placeholder="USER PASSWORD" #pass>


                </div>



                <div style="display: grid;place-items: center;"> <button class="btn btn-outline-light btn-sm px-5 py-4" type="submit"
                        style="background-color: #FFB100; width:90%" (click)="SignUp()"><a style="color:rgb(255, 255, 255);text-decoration: none;font-size: 1.1rem;" > Sign
                            Up
                        </a></button></div>




            </form>




        </div>



    </div>

</div>