<section class="EMP_LEAVE_REQ_POPUP">
    <div class="main">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Leave Request Arrived!!!</mat-card-title>
              <mat-card-subtitle>Choose your actions</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>Accept</button>
              <button mat-button>Reject</button>
              <button mat-button>Hold</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
</section>
